* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    font-size: 32px;
    color: white; 
    background-color: rgb(97, 188, 224);
    padding: 5px; 
}

button {
    cursor: pointer; 
}



#forecast {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    padding: 15px; 
    color: white; 
    border-radius: 20px; 
}

img {
    background: white; 
    margin: 1em; 
}
.card {
    display: flex; 
    justify-content: center;
    color: white; 
    background:rgb(1, 1, 61);
    padding: 5px; 
    margin: 5px; 
    border-radius: 10px; 
}

.card-title{
    color: white; 
}

@media screen and (max-width: 992px) {
    body {
      flex-wrap: column wrap; 
    }
  }

  @media screen and (max-width: 768px) {
    body {
        flex-wrap: column wrap;
    }
  }
  
  @media screen and (max-width: 576px) {
    body {
        flex-wrap: column wrap; 
    }
  }